{% extends 'email/layout.main.twig' %}

{% block body %}
    {% set url = url(constant('other\\ProjectManager\\src\\Controller\\Auth\\SignUpController::CONFIRM_ROUTE'), {'token': token}) %}
    <p><a href="{{ url }}">{{ "Confirm" | trans([], 'common') }}</a></p>
{% endblock %}
