version: '3'
services:
  php-cli:
    image: erema/php-cli:latest
    volumes:
    - ./:/var/www/html
    working_dir: /var/www/html
    tty: true
    ports:
      - 8080:8080
    environment:
      PHP_IDE_CONFIG: serverName=roadrunner
      XDEBUG_CONFIG: remote_host=192.168.0.105
  sqlite3:
    image: nouchka/sqlite3:latest
    stdin_open: true
    tty: true
    volumes:
    - ./data/sqlite/:/root/db/
    working_dir: /var/www/html
  postgres:
    image: postgres:12.2
    environment:
      POSTGRES_USER: go
      POSTGRES_DB: go
      POSTGRES_PASSWORD: 123
    ports:
    - 5432:5432
  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - "8025:8025"

