version: '3'
services:
  php-cli:
    image: erema/php-cli:latest
    volumes:
    - ./:/var/www/html
    working_dir: /var/www/html
    tty: true
    ports:
      - 8080:8080
    command: php -S 0.0.0.0:8080
    environment:
      PHP_IDE_CONFIG: serverName=php_sendbox
      XDEBUG_CONFIG: remote_host=192.168.1.3
  sqlite3:
    image: nouchka/sqlite3:latest
    stdin_open: true
    tty: true
    volumes:
    - ./data/sqlite/:/root/db/
    working_dir: /var/www/html

