<?xml version="1.0" encoding="UTF-8"?>
<phpunit>

    <php>
        <server name="KERNEL_CLASS" value="other\ProjectManager\src\Kernel" />
        <server name="APP_ENV" value="test" force="true" />
    </php>

    <testsuites>
        <testsuite name="Architecture tests">
            <directory>./learning/Architecture/</directory>
        </testsuite>
        <testsuite name="Patterns tests">
            <directory>./learning/Patterns/</directory>
        </testsuite>
        <testsuite name="Principles tests">
            <directory>./learning/Principles/</directory>
        </testsuite>
        <testsuite name="Symfony tests">
            <directory>./learning/Symfony/</directory>
        </testsuite>
        <testsuite name="Zend tests">
            <directory>./learning/Zend/</directory>
        </testsuite>
        <testsuite name="DDD tests">
            <directory>./learning/DDD/</directory>
        </testsuite>
        <testsuite name="Other">
            <directory>./learning/other/</directory>
        </testsuite>
        <testsuite name="Doctrine">
            <directory>./learning/Doctrine/</directory>
        </testsuite>
        <testsuite name="Project Manager">
            <directory>./other/ProjectManager/tests/</directory>
        </testsuite>
    </testsuites>

    <extensions>
        <extension class="infrastructure\TestsExtension" />
    </extensions>
</phpunit>
