<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <testsuites>
        <testsuite name="Patterns tests">
            <directory>./learning/Patterns/</directory>
        </testsuite>
        <testsuite name="Principles tests">
            <directory>./learning/Principles/</directory>
        </testsuite>
        <testsuite name="Symfony tests">
            <directory>./learning/Symfony/</directory>
        </testsuite>
        <testsuite name="Zend tests">
            <directory>./learning/Zend/</directory>
        </testsuite>
        <testsuite name="Other">
            <directory>./learning/other/</directory>
        </testsuite>
    </testsuites>
</phpunit>