# %%% Normativka Web App Tasks BEGIN %%%

# min   hours   days_of_month
#                       months  days_of_week    command

# Billing: deactivate access codes every 5 minutes
*/5     *       *       *       *               CRON_DIR_PATH=/home/gutsout/h/normativka/cron /home/gutsout/h/normativka/cron/tasks/billing-deactivate-codes/task.sh

# Billing: notify about soon-expired and not activated codes every hour
8       *       *       *       *               CRON_DIR_PATH=/home/gutsout/h/normativka/cron /home/gutsout/h/normativka/cron/tasks/billing-notify-codes-expiration/task.sh

# %%% Normativka Web App Tasks END %%%
