<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Project manager{% endblock %}</title>

    <style>
        html {
            font-family: Roboto,Arial,Helvetica,sans-serif;
            font-size: 14px;
            line-height: 1.2;
            color: #212121;
        }

        .error {
            color: #9e3030;
        }
        .success {
            color: #0a8027;
        }
    </style>

</head>
<body>
    <div>
        <a href='{{ path(constant('other\\ProjectManager\\src\\Controller\\IndexController::INDEX_ROUTE')) }}'>
            {{ 'Project manager' | trans([], 'common') }}
        </a>
    </div>

    {% if app.session.flashbag.peek('success') is not empty %}
        <ul class="success">
        {% for message in app.flashes('success') %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if app.session.flashbag.peek('error') is not empty %}
        <ul class="error">
        {% for message in app.flashes('error') %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% block body %}{% endblock %}
</body>
</html>
